@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* For rgb(255 115 179 / <alpha-value>) */
        --color-primary: 250 128 114;
        --color-secondary: 233 150 122;
        --color-terciary: 255 160 122;
        --color-text:209 213 219;
    }
}
