/* Estilo global para asegurar el comportamiento consistente del tamaño de los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ajustes para el contenedor principal */
main {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem; /* Agregar padding para espaciar internamente */
}

.titleHeader {
  font-size: 6rem;
  line-height: 7.5rem;
}



.custom-shadow {
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 6px 0px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
  }

  .backgroundHeader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    
  }
  
  .card {
    margin: 1rem;
  }
  
  .text-party{
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  
  /* Estilo adicional para mejor responsividad */
  @media (max-width: 768px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 4.5rem;
      line-height: 5.5rem;
    }
    .card {
      margin-bottom: 1.5rem; /* Espaciado en pantallas pequeñas */
    }
  }

  @media (max-width: 576px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    .text-party {
      font-size: 1.75rem;
      line-height: 1.5rem;
    }
  }

  @media (max-width: 425px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
    .text-party {
      font-size: 1.75rem;
      line-height: 1.5rem;
    }
  }

  
  @media (max-width: 375px ) and (min-width: 320px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 2.15rem;
      line-height: 3rem;
    }
    .text-party {
      font-size: 1.32rem;
      line-height: 1.5rem;
    }
  }

