

/* Estilo global para asegurar el comportamiento consistente del tamaño de los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

#songName, #songAuthor, #songLink ,#nombre, #apellido, #parejaNombre, #parejaApellido,#otraInfo{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2d3748;
}

#songName:focus, #songAuthor:focus, #songLink:focus ,#nombre:focus, #apellido:focus, #parejaNombre:focus, #parejaApellido:focus,#otraInfo:focus {
  background-color: white;
}



.titleParty::before {
  content: '';
  display: block;
  width: 32%; /* Predeterminado para pantallas pequeñas */
  height: 2px; 
  background-color: rgb(var(--color-secondary));
  opacity: 0.5;
  margin: 0 auto 2px;
}



@media (max-width: 368px) {
  .titleParty::before {
    width: 40%; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 768px) {
  .titleParty::before {
    width: 27%; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .titleParty::before {
    width: 20%; /* Ajuste para pantallas grandes */
  }
}

.titleParty::after {
  content: '';
  display: block;
  width: 32%; /* Predeterminado para pantallas pequeñas */
  height: 2px; 
  background-color: rgb(var(--color-secondary));
  margin: 2px auto 0;
}


@media (max-width: 368px) {
  .titleParty::after {
    width: 40%; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 768px) {
  .titleParty::after {
    width: 27%; /* Ajuste para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .titleParty::after {
    width: 20%; /* Ajuste para pantallas grandes */
  }
}




.fechario::before {
  content: '';
  display: block;
  width: 90%; /* Predeterminado para pantallas pequeñas */
  height: 2px; 
  background-color: rgb(var(--color-secondary));
  opacity: 0.5;
  margin: 15px auto 2px;
}





.fechario::after {
  content: '';
  display: block;
  width: 90%; /* Predeterminado para pantallas pequeñas */
  height: 2px; 
  background-color: rgb(var(--color-secondary));
  margin: 2px auto 15px;
}




.fechario #day{
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
}

/* Ajustes para el contenedor principal */
main {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem; /* Agregar padding para espaciar internamente */
}

.titleHeader {
  font-size: 6rem;
  line-height: 7.5rem;
}

.underline {  
  position: relative;  
  display: inline-block;  
  color: white  
}  




.custom-shadow {
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 6px 0px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
  }

  .backgroundHeader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top ;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 12px;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.card h2 {
    color: #2d3748; /* text-gray-800 */
    font-size: 1.5rem; /* text-2xl */
}

.card p {
    color: #4a5568; /* text-gray-700 */
    font-size: 1.125rem; /* text-lg */
}

.card button {
    color: #fff;
    background-color: rgb(var(--color-primary));
    border-radius: 9999px; /* rounded-full */
    padding: 0.5rem 1.5rem;
    margin-top: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: rgb(var(--color-primary));
}
  
  .text-party{
    font-size: 2.25rem;
    line-height: 2.25rem;
  }




  
  /* Estilo adicional para mejor responsividad */
  @media (min-width: 1024px) {
    .card {
      max-width: 80%; /* Ajuste para pantallas grandes */
    }
  }


@media (max-width: 1024px) {
  .titleHeadwer {
    font-size: 5rem;
    line-height: 6.5rem;
  }
  .card {
    max-width: 90%;
  }
}

  @media (max-width: 768px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 4.5rem;
      line-height: 5.5rem;
    }
    .card {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
  
 
  }

  @media (max-width: 576px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    .text-party {
      font-size: 1.75rem;
      line-height: 1.5rem;
    }

    .card {
      width: 100%; /* Asegura que la carta tome todo el ancho en pantallas pequeñas */
    }

  }

  @media (max-width: 425px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
    .text-party {
      font-size: 1.75rem;
      line-height: 1.5rem;
    }
    .card {
      width: 100%;
    }

  }

  
  @media (max-width: 375px ) and (min-width: 320px) {
    .backgroundHeader {
      background-attachment: fixed; /* Permite el desplazamiento en pantallas pequeñas */
    }
    .titleHeader {
      font-size: 1.95rem;
    }
    .text-party {
      font-size: 1.32rem;
      line-height: 1.5rem;
    }

    .card {
      width: 100%;
    }
  }
  @keyframes jump {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(7deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-7deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-jump {
    animation: jump 1s linear infinite;
  }
  
  /* Expansión de la sombra */
  @keyframes shadow-expand {
    0% {
      box-shadow: 0 0 2px 0px rgba(17, 191, 191, .5 );
    }
    50% {
      box-shadow: 0 0 5px 2px rgba(17, 191, 191, .5 );
    }
    100% {
      box-shadow: 0 0 6px 5px rgba(17, 191, 191, .5 );
    }
  }
  
  .animate-shadow-expand {
    animation: shadow-expand 2s linear infinite;
  }
  
  
  

 